*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.card{
  color: white;
  width: 400px;
  height: 400px;
  background-color: rgba(7, 7, 44, 0.907);
  box-shadow: 1px 1px 3px 1px darkblue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: 0 auto;

}
.btns{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Submit{
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgb(235, 71, 11);
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.Submit:hover{
  background-color: white;
  color: rgb(235, 71, 11);
}
.btn{
  width: 40px;
  border: none;
  height: 40px;
  background-color: rgba(11, 11, 11, 0.423);
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.btn:hover{
  background-color: gray;
}
.orange{
  background-color: orange;
}